{% extends "base.html.twig" %}

{% block title produit.titre %}


{% block body %}
   <div class="jumbotron">
      <div class="container">
         {% for message in app.flashes('success') %}
            <div class="alert alert-success"> {{ message }}</div>
         {% endfor %}
         <div class="row">
            <div class="col-md-8">
               {% if produit.imageName %}
                  <img src="{{ vich_uploader_asset(produit, 'imageFile') | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height: auto">
               {% else %}
                  <img src="{{ '/images/produits/empty.png' | imagine_filter('medium') }}" alt="card-img-top" style="width: 100%; height: auto">
               {% endif %}
            </div>
            <div class="col-md-4">
               <h1> {{ produit.titre }}</h1>
               <h2> {{ produit.quantitie }} pieces</h2>
               <div class="text-primary" style="font-size: 4rem; font-weight: bold">{{ produit.formattedPrix }}€</div>
               <a href="" class="btn btn-primary">Contacter la boutiue</a>
               <div id="contactForm" class="mt-4">
                  {{ form_start(form_contact) }}
                     <div class="row">
                        <div class="col">{{ form_row(form_contact.firstname) }}</div>
                        <div class="col">{{ form_row(form_contact.lastname) }}</div>
                     </div>
                     <div class="row">
                           <div class="col">{{ form_row(form_contact.email) }}</div>
                           <div class="col">{{ form_row(form_contact.phone) }}</div>
                     </div>
                  {{ form_rest(form_contact) }}
                  <div class="form-group">
                     <button class="btn bnt-primary">Envoyer</button>
                  </div>

                  {{ form_end(form_contact) }}
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="container mt-4">
      <p> {{ produit.descri }}</p>

      <div class="row">
         <div class="col-md-8">
            <h3> CARACTÉRISTIQUES TECHNIQUES </h3>
            <table class="table table-striped">
               <tr>
                  <td>Système</td>
                  <td>Android</td>
               </tr>
               <tr>
                  <td>Mémoire vive (RAM)</td>
                  <td>3 GO</td>
               </tr>
               <tr>
                  <td>Capacité</td>
                  <td>32 GO</td>
               </tr>
               <tr>
                  <td>Type de cartes supportées</td>
                  <td>microSD, microSDHC, microSDXC</td>
               </tr>
               <tr>
                  <td>Double SIM</td>
                  <td>Oui</td>
               </tr>
            </table>
         </div>
         <div class="col-md-4">
            <h2>Specificite</h2>
            <ul class="list-group">
               {% for option in  produit.options %}
                  <li class="list-group-item"> {{ option.name }}</li>
               {% endfor %}
            </ul>
         </div>
      </div>
   </div>
{% endblock %}

